body {
  background-color: #f6f6f6; }

.main-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/main-visual.png);
  background-size: cover;
  background-position: bottom center;
  width: 100vw;
  height: 90vh; }
  .main-visual .title {
    color: #fff; }

main {
  max-width: 760px;
  margin: 0 auto;
  padding: 60px 30px; }

ol, ul {
  margin-bottom: 40px; }

li {
  margin-bottom: 10px; }

li img {
  width: 100% !important;
  margin: 10px 0; }
